.landing-page {
  @include vertical-center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-logo {
    @include logo-copy($silver);

    display: inherit;
    flex-direction: column;
    justify-content: center;

    @include breakpoint($tablet) {
      font-size: 8em;
    }

    @include breakpoint($desktop) {
      font-size: 12em;
    }

    &-icon {
      fill: $silver;
      margin: spacing() spacing(2);
      height: 80px;
      width: 80px;

      @include breakpoint($tablet) {
        height: 120px;
        width: 120px;
        margin: spacing(2) spacing(4);
      }

      @include breakpoint($desktop) {
        height: 200px;
        width: 200px;
        margin: spacing(2) spacing(4);
      }
     
    }

    &-text {
      &-split {
        display: inline-flex;
      }
    }
  }

  &-slogan {
    @include heading-2-bold($silver, 700);
    margin: spacing(2) 0;
    text-transform: uppercase;


    @include breakpoint($tablet) {
      font-size: 1.5em;
    }

    @include breakpoint($desktop) {
      margin: spacing(4) 0;
      font-size: 2em;
    }
  }
}