// Colors
$black: #000;
$white: #fff;
$silver: #c0c0c0;

// Screen Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

// Spacing
$spacing: 10px;

// Typography
$brand: 'Fonarto', sans-serif;
$heading: 'Aleo', serif;

$bold: 700;

$logo-copy: 5em;
$heading-2: 1.3em;

$uppercase: uppercase;
